<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>Все пользователи</title>
</head>
<body>
<!--===============================верхний ряд==========================================================================-->
<ul class="nav bg-dark  ">
    <li class="nav-item ">
        <a class="nav-link active text-light" th:text="|${title.email} with roles: ADMIN|"></a>
    </li>

    <li class="nav-item navbar-nav ml-auto pr-3 ">
        <a class="nav-link text-secondary" href="/logout">logout</a>
    </li>
</ul>

<div class="row">
    <!--=================================левая колонка==========================================================================-->
    <div class="col-2 mt-3 ">
        <ul class="nav nav-pills nav-fill flex-column ">
            <li class="nav-item  ">
                <a class="nav-link active text-left pl-3" href="#admin" data-toggle="pill">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-left pl-3" href="#user" data-toggle="pill">User</a>
            </li>
        </ul>
    </div>
    <!--===================================правая колонка===========================================================================-->

    <div class="col-10 mt-3">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="admin">
                <div class="container ml-0 ">        <!--  begin of container    -->

                    <div class="row mt-3 m-0">
                        <h3>Admin panel</h3>
                    </div>
                    <!--======================================ссылки на юзеров и создание нового======================================-->
                    <ul class="nav nav-tabs">
                        <li>
                            <a class="nav-link active" href="#admin_panel" data-toggle="tab">Users table</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#new_user" data-toggle="tab">New user</a>
                        </li>
                    </ul>
                    <!--==========================================таблица с юзерами=========================================================-->
                    <div class="tab-content">

                        <div class="tab-pane active" id="admin_panel">
                            <ul class="list-group">
                                <li class="list-group-item"><strong>All users</strong></li>
                            </ul>

                            <div class="container border">

                                <div class="shadow-sm my-3  bg-light rounded"></div>

                                <table class="table w-85 mx-auto table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${users}">
                                        <td th:utext="${user.getId()}"></td>
                                        <td th:utext="${user.getName()}"></td>
                                        <td th:utext="${user.getLastName()}"></td>
                                        <td th:utext="${user.getAge()}"></td>
                                        <td th:utext="${user.getEmail()}"></td>
                                        <td>
                                            <th:block>
                                                <span th:text="${user.getRolesToString()}"></span>
                                            </th:block>


                                        </td>
                                        <td>
                                            <button class="btn btn-info" data-toggle="modal"
                                                    th:href="${'#edit'+user.getId()}">edit
                                            </button>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger" data-toggle="modal"
                                                    th:href="${'#delete'+user.getId()}">Delete
                                            </button>
                                        </td>

                                        <!--=======Модалка редактирования===============================================-->

                                        <div class="modal fade" th:id="${'edit'+user.getId()}" tabindex="-1"
                                             aria-hidden="true">
                                            <form th:action="@{/admin/edit/{id}(id=${user.getId()})}" th:method="patch">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalEdit">Edit user</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="container-fluid">
                                                                <div class="form-group  mt-1">
                                                                    <label for="formGroupExampleId"
                                                                           class="d-flex justify-content-center mb-0 font-weight-bold">ID</label>
                                                                    <input type="text"
                                                                           class="form-control form-control-sm w-50 mx-auto"
                                                                           id="formGroupExampleId" th:name="id"
                                                                           th:value="${user.getId()}" placeholder="Id">
                                                                </div>
                                                                <div class="form-group mt-3">
                                                                    <label for="formGroupExampleUsername"
                                                                           class="d-flex justify-content-center mb-0 font-weight-bold">First
                                                                        name</label>
                                                                    <input type="text"
                                                                           class="form-control form-control-sm w-50 mx-auto"
                                                                           id="formGroupExampleUsername"
                                                                           th:name="username"
                                                                           th:value="${user.getName()}"
                                                                           placeholder="First name">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="formGroupExampleSurname"
                                                                           class="d-flex justify-content-center mb-0 font-weight-bold">Last
                                                                        name</label>
                                                                    <input type="text"
                                                                           class="form-control form-control-sm w-50 mx-auto"
                                                                           id="formGroupExampleSurname"
                                                                           th:name="surname"
                                                                           th:value="${user.getLastName()}"
                                                                           placeholder="Last name">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="formGroupExampleAge"
                                                                           class="d-flex justify-content-center mb-0 font-weight-bold">Age</label>
                                                                    <input type="text"
                                                                           class="form-control form-control-sm w-50 mx-auto"
                                                                           id="formGroupExampleAge" th:name="age"
                                                                           th:value="${user.getAge()}"
                                                                           placeholder="Age">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="formGroupExampleEmail"
                                                                           class="d-flex justify-content-center mb-0 font-weight-bold">Email</label>
                                                                    <input type="text"
                                                                           class="form-control form-control-sm w-50 mx-auto"
                                                                           id="formGroupExampleEmail" th:name="email"
                                                                           th:value="${user.getEmail()}"
                                                                           placeholder="Email">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="formGroupExamplePassword"
                                                                           class="d-flex justify-content-center mb-0 font-weight-bold">Password</label>
                                                                    <input type="text"
                                                                           class="form-control form-control-sm w-50 mx-auto"
                                                                           id="formGroupExamplePassword"
                                                                           th:name="password"
                                                                           th:value="${user.getPassword()}"
                                                                           placeholder="Password">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="d-flex justify-content-center mb-0 font-weight-bold">Role</label>
                                                                    <select required
                                                                            class="form-control form-control-sm w-50 mx-auto"
                                                                            th:name="roles" size="2">
                                                                        <option th:each="role : ${roleList}"
                                                                                th:text="${role.getUserRole()}"
                                                                                th:value="${role.getId()}"
                                                                                th:selected="${user.roles.contains(role)}">
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                            <button type="submit" class="btn btn-primary">Edit</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                        <!--====================Модалка удаления========================================-->
                                        <div class="modal fade" th:id="${'delete'+user.id}" tabindex="-1"
                                             aria-hidden="true">
                                            <form th:action="@{/admin/delete/{id}(id=${user.getId()})}"
                                                  th:method="delete">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalDelete">Delete
                                                                user</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="container-fluid">
                                                                <div class="form-group  mt-1">
                                                                    <label for="formGroupExampleId2"
                                                                           class="d-flex justify-content-center mb-0 font-weight-bold">ID</label>
                                                                    <input type="text"
                                                                           class="form-control form-control-sm w-50 mx-auto"
                                                                           th:value="${user.getId()}"
                                                                           id="formGroupExampleId2" placeholder="Id">
                                                                </div>
                                                                <div class="form-group mt-3">
                                                                    <label for="formGroupExampleUsername2"
                                                                           class="d-flex justify-content-center mb-0 font-weight-bold">First
                                                                        name</label>
                                                                    <input type="text"
                                                                           class="form-control form-control-sm w-50 mx-auto"
                                                                           th:value="${user.getName()}"
                                                                           id="formGroupExampleUsername2"
                                                                           placeholder="First name">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="formGroupExampleSurname2"
                                                                           class="d-flex justify-content-center mb-0 font-weight-bold">Last
                                                                        name</label>
                                                                    <input type="text"
                                                                           class="form-control form-control-sm w-50 mx-auto"
                                                                           th:value="${user.getLastName()}"
                                                                           id="formGroupExampleSurname2"
                                                                           placeholder="Last name">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="formGroupExampleAge2"
                                                                           class="d-flex justify-content-center mb-0 font-weight-bold">Age</label>
                                                                    <input type="text"
                                                                           class="form-control form-control-sm w-50 mx-auto"
                                                                           th:value="${user.getAge()}"
                                                                           id="formGroupExampleAge2" placeholder="Age">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="formGroupExampleEmail2"
                                                                           class="d-flex justify-content-center mb-0 font-weight-bold">Email</label>
                                                                    <input type="text"
                                                                           class="form-control form-control-sm w-50 mx-auto"
                                                                           th:value="${user.getEmail()}"
                                                                           id="formGroupExampleEmail2"
                                                                           placeholder="Email">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="exampleFormControlSelect2delete"
                                                                           class="d-flex justify-content-center mb-0 font-weight-bold">Role</label>
                                                                    <select multiple
                                                                            class="form-control form-control-sm w-50 mx-auto"
                                                                            id="exampleFormControlSelect2delete"
                                                                            name="roles" size="1">
                                                                        <option
                                                                                th:text="${user.getRolesToString()}"
                                                                                th:value="${user.getRolesToString()}"
                                                                        ></option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                            <button type="submit" class="btn btn-danger">Delete</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <!--                     окончание модалки удаления-->
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
<!--                     окончание панели админа-->
                        <!--==============================Добавление нового юзера=======================================-->
                        <div class="tab-pane" id="new_user">   <!--  new_user    -->
                            <ul class="list-group">
                                <li class="list-group-item"><strong>Add new user</strong></li>
                            </ul>

                            <div class="container border ">
                                <form th:action="@{/admin/add}" th:method="post" th:object="${newUser}">
                                    <div class="form-group mt-3">
                                        <label for="username"
                                               class="d-flex justify-content-center mb-0 font-weight-bold">First
                                            name</label>
                                        <input type="text" class="form-control form-control-sm w-25 mx-auto"
                                               th:field="*{name}" id="username" placeholder="First name">
                                    </div>
                                    <div class="form-group">
                                        <label for="surname"
                                               class="d-flex justify-content-center mb-0 font-weight-bold">Last
                                            name</label>
                                        <input type="text" class="form-control form-control-sm w-25 mx-auto"
                                               th:field="*{lastName}" id="surname" placeholder="Last name">
                                    </div>
                                    <div class="form-group">
                                        <label for="age"
                                               class="d-flex justify-content-center mb-0 font-weight-bold">Age</label>
                                        <input type="text" class="form-control form-control-sm w-25 mx-auto"
                                               th:field="*{age}" id="age" placeholder="Age">
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="d-flex justify-content-center mb-0 font-weight-bold">Email</label>
                                        <input type="text" class="form-control form-control-sm w-25 mx-auto"
                                               th:field="*{email}" id="email" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <label for="password"
                                               class="d-flex justify-content-center mb-0 font-weight-bold">Password</label>
                                        <input type="text" class="form-control form-control-sm w-25 mx-auto"
                                               id="password" th:field="*{password}" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <label for="role" class="d-flex justify-content-center mb-0 font-weight-bold">Role</label>
                                        <select multiple class="form-control form-control-sm w-25 mx-auto" id="role"
                                                th:field="*{roles}" size="2">
                                            <option th:each="role : ${roleList}"
                                                    th:value="${role.id}"
                                                    th:text="${role.getUserRole()}">
                                            </option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-success btn-lg d-flex mx-auto mb-4">Add new
                                        user
                                    </button>
                                </form>
                            </div>
                        </div>   <!-- окончание нового юзера    -->
                    </div>     <!--  окончание наполнения    -->

                </div>   <!--  окончание контейнера    -->
            </div>
            <div class="tab-pane fade show" id="user">
                <div class="container ml-0 ">
                    <div class="row mt-3 m-0">
                        <h3>User information-page</h3>
                    </div>

                    <ul class="list-group">
                        <li class="list-group-item bg-light"><strong>About user</strong></li>
                    </ul>

                    <div class="container border pb-3">

                        <div class="shadow-sm my-3  bg-light rounded"></div>

                        <table class="table table-striped w-85 mx-auto ">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td th:text="${title.getName()}"></td>
                                <td th:text="${title.getLastName()}"></td>
                                <td th:text="${title.getAge()}"></td>
                                <td th:text="${title.getEmail()}"></td>
                                <td>ADMIN</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>       <!--  окончание колонки   -->

</div>     <!--  окончание ряда    -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
