<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>all</title>

</head>
<body>
<nav class="navbar navbar-dark bg-dark fixed-top">
    <form class="form-inline">
        <span class="navbar-text text-white" th:text="${user.email}"></span>
        <span class="navbar-text text-white">&nbsp with roles: &nbsp </span>
        <span class="navbar-text text-white"> <a th:each="role: ${user.roles}"
                                                 th:text="${role.role} + ' '"></a> </span>
    </form>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link text-muted " th:href="@{/logout}">Logout</a>
        </li>
    </ul>
</nav>

<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-sm-2 bg-white min-vh-100">
            <ul class="nav nav-pills flex-column">
                <br/>
                <br/>
                <br/>
                <br/>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/admin}">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user}">User</a>
                </li>
            </ul>
        </div>

        <div class="col-sm-10 bg-light"><br><br><br>
            <h2>Admin panel</h2>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="new_user" data-toggle="tab" href="#user_table">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#add_user">New User</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane container-fluid active" id="user_table">
                    <div class="row">
                        <div class="col border bg-light">
                            <p><h6>All users</h6></p>
                        </div>
                        <div class="w-100"></div>
                        <div class="col border bg-white">
                            <br/>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody id="usersTable"></tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- EDIT Modal -->
                <div class="modal fade" id="editModal" tabindex="-1" role="dialog"
                     aria-labelledby="editModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h6 class="modal-title">Edit user</h6>
                                <button type="button" class="close" data-dismiss="modal">×
                                </button>
                            </div>

                            <div class="modal-body">
                                <div class="form-group row justify-content-center align-items-center">
                                    <form id="editForm"
                                          class="form mx-auto font-weight-bold text-center">
                                        <p>
                                            <strong><label for="eId">ID</label></strong>
                                            <input type="number" class="form-control" id="eId" name="id"
                                                   readonly>
                                        </p>

                                        <p>
                                            <strong><label for="eFirstName">First name</label></strong>
                                            <input type="text" class="form-control" id="eFirstName"
                                                   name="firstName">
                                        </p>

                                        <p>
                                            <strong><label for="eLastName">Last name </label></strong>
                                            <input type="text" class="form-control" id="eLastName"
                                                   name="lastName">
                                        </p>
                                        <p>
                                            <strong><label for="eAge">Age </label></strong>
                                            <input type="number" class="form-control" id="eAge"
                                                   name="age">
                                        </p>
                                        <p>
                                            <strong><label for="eEmail">Email </label></strong>
                                            <input type="email" class="form-control" id="eEmail"
                                                   name="email">
                                        </p>
                                        <p>
                                            <strong><label for="ePassword">Password </label></strong>
                                            <input type="password" class="form-control" id="ePassword"
                                                   name="password">
                                        </p>
                                        <p class="form-group row justify-content-center">
                                            <strong><label for="eRoles">Role</label></strong>
                                            <select id="eRoles" name="roles" multiple
                                                    class="form-control">
                                            </select>
                                        </p>

                                    </form>
                                </div>
                            </div>


                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Close
                                </button>
                                <button class="btn btn-primary" data-dismiss="modal"
                                        onclick="editUser()">Edit
                                </button>
                            </div>

                        </div>
                    </div>
                </div>

                <!--Delete Modal-->
                <div id="deleteModal" class="modal fade" tabindex="-1" role="dialog"
                     aria-labelledby="TitleModalLabel" aria-hidden="true" data-backdrop="static"
                     data-keyboard="false">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h6 class="modal-title">Delete user</h6>
                                <button type="button" class="close" data-dismiss="modal">×
                                </button>
                            </div>

                            <div class="modal-body">
                                <div class="form-group row justify-content-center align-items-center">
                                    <form class="form-signing mx-auto font-weight-bold text-center"
                                          id="deleteForm">
                                        <p>
                                            <strong><label for="dId">ID </label></strong>
                                            <input class="form-control" type="text" id="dId"
                                                   name="id" disabled>
                                        </p>

                                        <p>
                                            <strong><label for="dFirstName">First name</label></strong>
                                            <input type="text" class="form-control"
                                                   id="dFirstName" name="firstName" disabled>
                                        </p>
                                        <p>
                                            <strong><label for="dLastName">Last Name</label></strong>
                                            <input type="text" class="form-control"
                                                   id="dLastName" name="lastName" disabled>
                                        </p>
                                        <p>
                                            <strong><label for="dAge">Age </label></strong>
                                            <input type="number" class="form-control"
                                                   id="dAge" name="age" disabled>
                                        </p>

                                        <p>
                                            <strong><label for="dEmail">Email </label></strong>
                                            <input type="email" class="form-control" id="dEmail"
                                                   name="email" disabled>
                                        </p>

                                        <p>
                                            <strong><label for="dRoles">Role</label></strong>
                                            <select multiple class="form-control" id="dRoles"
                                                    name="roles" disabled>
                                            </select>
                                        </p>
                                    </form>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Close
                                </button>
                                <button class="btn btn-danger"
                                        data-dismiss="modal"
                                        onclick="deleteUser()">Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


                <!--ADD form-->
                <div class="tab-pane container-fluid fade" id="add_user">
                    <div class="row">
                        <div class="col border bg-light">
                            <p><h6>Add new user</h6></p>
                        </div>

                        <div class="w-100"></div>
                        <div class="col border bg-white text-center">
                            <br/>
                            <form id="formNewUser">
                                <div class="form-group row justify-content-center align-items-center">
                                    <div class="col-sm-3">
                                        <strong><label for="nFirstName">First Name </label></strong>
                                        <input type="text" class="form-control" id="nFirstName" name="firstName"
                                               placeholder="First name" required>
                                    </div>
                                </div>
                                <div class="form-group row justify-content-center align-items-center">
                                    <div class="col-sm-3">
                                        <strong><label for="nLastName">Last Name </label></strong>
                                        <input type="text" class="form-control" id="nLastName" name="lastName"
                                               placeholder="Last name" required>
                                    </div>
                                </div>
                                <div class="form-group row justify-content-center align-items-center">
                                    <div class="col-sm-3">
                                        <strong><label for="nAge">Age </label></strong>
                                        <input type="number" class="form-control" id="nAge" name="age"
                                               placeholder="Age" required>
                                    </div>
                                </div>
                                <div class="form-group row justify-content-center align-items-center">
                                    <div class="col-sm-3">
                                        <strong><label for="nEmail">Email </label></strong>
                                        <input type="email" class="form-control" id="nEmail" name="email"
                                               placeholder="Email" required>
                                    </div>
                                </div>

                                <div class="form-group row justify-content-center align-items-center">
                                    <div class="col-sm-3">
                                        <strong><label for="nPassword">Password</label></strong>
                                        <br/>
                                        <input type="password" class="form-control" id="nPassword" name="password"
                                               placeholder="Password" required>
                                    </div>
                                </div>

                                <div class="form-group row justify-content-center align-items-center">
                                    <div class="col-sm-3">
                                        <strong><label for="nRoles">Role</label></strong>
                                        <select id="nRoles" name="roles" class="form-control form-control-sm"
                                                multiple size="2" required>
                                            <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                                            <option value="ROLE_USER">ROLE_USER</option>
                                        </select>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-success">
                                    Add new user
                                </button>
                                <br/>
                                <br/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="admin.js"></script>

</body>
</html>
